asgiref==3.8.1
Django==5.1.4
pillow==11.1.0
sqlparse==0.5.3

django-taggit
python-decouple
dj-database-url
#python-dotenv
psycopg2-binary
django-admin-interface
django-model-utils
django-phonenumber-field
django-countries
#django-phonenumber-field[phonenumbers]
phonenumbers

# social auth and login
django-allauth
#django-allauth[google,facebook]
requests
jwt
PyJWT
cryptography
#django-allauth[crypto]
#pip install django-allauth[google,facebook]