{% extends 'base.html' %}

{% block title %}Delete Listing{% endblock title %}

{% block content %}

<div class="container">
    <h2 class="mb-4">Delete Listing</h2>
    <form method="post">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header">
                <h4>Listing Details</h4>
            </div>
            <div class="card-body">
                <p>Are you sure you want to delete the listing <strong>{{ listing.title }}</strong>?</p>
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
        {% comment %} <a href="{% url 'listing' listing.slug %}" class="btn btn-secondary">Cancel</a> {% endcomment %}
        <a href="{% url 'listings' %}" class="btn btn-secondary">Cancel</a>

    </form>

</div>

{% endblock %}

