{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid bg-light py-2 mb-3">
        <div class="container">
            <nav class="nav">
                <a class="nav-link active" href="{% url 'listings' %}">All Listings</a>
                <a class="nav-link" href="{% url 'create-listing' %}">Add Listing</a>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'listings' %}">My Listings</a>
                {% endif %}
            </nav>
        </div>
    </div>


    <div class="container mt-4">
        <h1>Listings</h1>
        <path d="M34.5 16.894v10.731c0 3.506-2.869 6.375-6.375 6.375H17.5h-.85C7.725 33.575.5 26.138.5 17c0-9.35 7.65-17 17-17s17 7.544 17 16.894z" fill="currentColor"></path>

        <div class="row">
            {% for listing in listings %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">{{ listing.description|truncatewords:30 }}</p>
                            <a href="{% url 'listing' listing.slug %}" class="btn" style="background-color: rgb(86, 49, 31); color: white;">View Details</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>No listings available.</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Slug</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for listing in listings %}
                <tr>
                    <td>{{ listing.slug }}</td>
                    <td>{{ listing.title }}</td>
                    <td>{{ listing.category }}</td>
                    <td>
                        {% comment %} add listing {% endcomment %}

                        <a href="{% url 'create-listing' %}" class="btn btn-sm btn-success">Add</a>
                        <a href="{% url 'listing' listing.slug %}" class="btn btn-sm btn-info">View</a>
                    
                        <a href="{% url 'update-listing' listing.slug %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'delete-listing' listing.slug %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No listings available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}