<div class="pb-4 mb-2 mb-xl-3">
            
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4 class="h6 mb-0">Filter</h4>
      <div class="nav">
        <a class="nav-link fs-xs text-decoration-underline text-nowrap p-0" href="#!">Clear all</a>
      </div>
    </div>

    <div class="d-flex flex-wrap gap-2 mb-4">
      <button type="button" class="btn btn-sm btn-secondary rounded-pill">
        <i class="fi-close fs-sm me-1 ms-n1"></i>
        Barcelona
      </button>
      <button type="button" class="btn btn-sm btn-secondary rounded-pill">
        <i class="fi-close fs-sm me-1 ms-n1"></i>
        Entertainment
      </button>
      <button type="button" class="btn btn-sm btn-secondary rounded-pill">
        <i class="fi-close fs-sm me-1 ms-n1"></i>
        $5 - $150
      </button>
      <button type="button" class="btn btn-sm btn-secondary rounded-pill">
        <i class="fi-close fs-sm me-1 ms-n1"></i>
        5
        <i class="fi-star-filled text-warning ms-1"></i>
      </button>
      <button type="button" class="btn btn-sm btn-secondary rounded-pill">
        <i class="fi-close fs-sm me-1 ms-n1"></i>
        4
        <i class="fi-star-filled text-warning ms-1"></i>
      </button>
    </div>

    <div class="position-relative">
      <i class="fi-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
      <input type="search" class="form-control form-icon-start rounded-pill" placeholder="Search by keywords">
    </div>
</div>