{% load static %}

<div class="col">
    <article class="card h-100 hover-effect-scale hover-effect-opacity bg-transparent">
      <div class="card-img-top position-relative bg-body-tertiary overflow-hidden">
        <div class="ratio hover-effect-target" style="--fn-aspect-ratio: calc(198 / 304 * 100%)">
          <img src="{% static 'listing/assets/img/listings/city-guide/v1/01.jpg' %}" alt="Image">
        </div>
        <div class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 pt-1 pt-sm-0 pe-1 pe-sm-0 mt-2 mt-sm-3 me-2 me-sm-3">
          <button type="button" class="btn btn-sm btn-icon btn-light bg-light border-0 rounded-circle animate-pulse" aria-label="Add to wishlist">
            <i class="fi-heart animate-target fs-sm"></i>
          </button>
        </div>
      </div>
      <div class="card-body pt-3 pb-2 px-3">
        <span class="badge text-body-emphasis bg-secondary-subtle text-decoration-none mb-2">Entertainment</span>
        <h3 class="h5 pt-1 mb-2">
          <a class="hover-effect-underline stretched-link" href="single-entry-city-guide.html">Barcelona National Zoo</a>
        </h3>
        <p class="fs-sm mb-0">Discover fascinating animals and a fun-filled adventure for the whole family.</p>
      </div>
      <div class="card-footer bg-transparent border-0 pt-0 pb-3 px-3">
        <div class="d-flex align-items-center gap-3">
          <div class="d-flex align-items-center gap-1">
            <i class="fi-star-filled text-warning"></i>
            <span class="fs-sm text-secondary-emphasis">4.6</span>
            <span class="fs-xs text-body-secondary align-self-end">(7523)</span>
          </div>
          <div class="d-flex align-items-center gap-1 min-w-0 fs-sm">
            <i class="fi-map-pin"></i>
            <span class="text-truncate">3.2 km from center</span>
          </div>
        </div>
        <div class="h6 pt-3 mb-0">$20</div>
      </div>
    </article>
</div>