<nav class="pt-3 mt-3" aria-label="Listings pagination">
    <ul class="pagination pagination-lg">
      <li class="page-item disabled me-auto">
        <a class="page-link d-flex align-items-center h-100 fs-lg rounded-pill px-2" href="#!" aria-label="Previous page">
          <i class="fi-chevron-left mx-1"></i>
        </a>
      </li>
      <li class="page-item active" aria-current="page">
        <span class="page-link rounded-pill">
          <span style="margin: 0 1px">1</span>
          <span class="visually-hidden">(current)</span>
        </span>
      </li>
      <li class="page-item">
        <a class="page-link rounded-pill" href="#!">2</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-pill" href="#!">3</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-pill" href="#!">4</a>
      </li>
      <li class="page-item">
        <span class="page-link px-2 pe-none">...</span>
      </li>
      <li class="page-item">
        <a class="page-link rounded-pill" href="#!">10</a>
      </li>
      <li class="page-item ms-auto">
        <a class="page-link d-flex align-items-center h-100 fs-lg rounded-pill px-2" href="#" aria-label="Next page">
          <i class="fi-chevron-right mx-1"></i>
        </a>
      </li>
    </ul>
</nav>