<div class="position-relative ms-md-auto" style="width: 170px">
    <i class="fi-sort position-absolute top-50 start-0 translate-middle-y z-1 ms-3"></i>
    <select class="form-select form-icon-start rounded-pill" data-select='{
      "removeItemButton": false,
      "classNames": {
        "containerInner": ["form-select", "form-icon-start", "rounded-pill"]
      }
    }'>
    <option value="Popular">Popular</option>
    <option value="Rating">Rating</option>
    <option value="Price asc">Price asc</option>
    <option value="Price desc">Price desc</option>
    </select>
  </div>